.left-side {
    margin-top: 5rem;
}

.header-bill {
    font-size: 28px;
}

::placeholder {
    color: rgb(100, 99, 99);

}
.input-boxes-bill {
    font-family: 'Poppins', sans-serif;
    width: 420px;
    padding: 10px;
    background-color: rgb(255, 255, 255);


}

.input-boxes-bill-2 {
    font-family: 'Poppins', sans-serif;
    width: 220px;
    padding: 13px;
    background-color: rgb(255, 255, 255);


}

.checkbox-input {
    display: inline;
    margin-left: -1.5rem;

}

.checkbox-text {
    display: inline;
}

.right-side {
    margin-top: 10rem;
}

.h-line-one {
    width: 60%;
    border: 2px solid black;
}

.radio-btn {
    font-size: 18px;
}

.my-login-btn {
    width: 34%;
    padding: 7px;
    background-color: #0e0e0e !important;
    margin-left: rem;
}