.my-hero-section{
    background-color: #45755B;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.my-transparent-part{
    background-color: transparent;
}
.my-hero-login-btn{
    background-color: white;
    
}
.my-hero-img{
    margin-top: 8%;
    height: 380px;
    border-bottom-right-radius: 15px;
    width: 90%;
   
}
.my-sec2-heading{
    color: #45755B;
}
.my-colored-part{
    cursor: pointer;
}
.my-colored-part:hover{
    scale:1.06;
    transition: ease 0.5s;
}
.my-car-item-img {
    height: 150px;
    width: 200px;
    align-items: center;
}
.my-img-in-cart{
    text-align: center;
}
.my-every-item-detail{
    margin-left: 10%;
}
.my-home-item-card{
    background-color: #45755B;
}
.my-trans-part{
    background-color: transparent;
}
.my-colored-part{
    /* background-color: #45755B; */
}
.coloring-container{
    /* background-color: #45755B; */
    padding: 0;
    background: linear-gradient(90deg, #45755B,  #45755b68);
}
.my-best-seller-atc-btn{
    background-color: #45755B;
}
.my-carousel-container{
    border: 1.5px solid black;
}
.my-carousel-img{
    height: 250px;
    margin-left: 20%;
    width: 400px;
}
.my-likes-btn-carousel{
    align-items: end;
}
.carousel-numbers{
    list-style: none;
}
.carousel-icons{
    font-size: 24px;
    /* margin-left: 60%; */
    float: end;
}
.my-sale-img{
    height: 350px; 
    margin-bottom: 0;
    padding: 0;
    /* border-bottom-right-radius: 70px; */
    width: 100%;
    
}
.my-cta-hom-btn {
    text-align: center;
    margin-left: 35%;
    
}
.my-sale-img-container{
    padding: 0;
}
.my-text-col-home{
    margin-top: 15%;
}
.gradient_background {
    background: linear-gradient(90deg, #0062ff, #da61ff);
    height: 100vh;
    width: 100vw;
  }
  
 .my-gray-section-icons{
     font-size: 80px;
     color:#45755B;
     -webkit-text-stroke: 2px white;
     background-color: white;
     margin-top: -28% ;
 }
 .my-gray-section-icon-compass{
     font-size: 75px;
 
     /* -webkit-text-stroke: 2px white; */
 }
 .my-gray-section-icons3{
     -webkit-text-stroke: 5px white;
 }
